/* components/Sidebar.css */

.sidebar {
  width: 260px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 18px;
  position: fixed;
  left: 0;
  top: 0;
}

/* Logo */

.logo-section {
  display: flex;
  align-items: center;
  gap: 14px;

  background: #0f2d5c;
  color: white;

  padding: 18px;
  border-radius: 16px;
}

.logo-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  background: white;
  color: #0f2d5c;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: bold;
}

.logo-section h2 {
  font-size: 18px;
  margin: 0;
}

.logo-section p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

/* Menu */

.menu {
  margin-top: 35px;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px 16px;
  margin-bottom: 10px;

  border-radius: 14px;

  cursor: pointer;
  transition: 0.3s ease;

  color: #374151;
}

.menu-item:hover {
  background: #f3f4f6;
}

.menu-item.active {
  background: #eef4ff;
  color: #2563eb;
  font-weight: 600;
}

/* Profile */

.profile-card {
  display: flex;
  align-items: center;
  gap: 12px;

  border: 1px solid #e5e7eb;
  border-radius: 16px;

  padding: 14px;
  background: #fff;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-card h4 {
  margin: 0;
  font-size: 15px;
}

.profile-card p {
  margin-top: 4px;
  font-size: 12px;
  color: #6b7280;
}